body { 
	background: url(../images/linenBig.png) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	height: 100%;
	margin: 0;
}

html {
	/* cursor: url("https://img.icons8.com/cotton/64/000000/car.png"), auto; */
	height: 100%;
	margin: 0;
}

h1,
h2,
h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: 60px;
	color: black;
	padding: 25px;
	
}

.container {
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

#game-screen {
	height: 30%;
	width: 70%;
	margin: auto;
}

.answer,
#timer {
	font-weight: 900;
}

#start {
	color: black;
}

.choices {
	text-align: center;
	border: groove 2px black;
	border-radius: 5%;
	margin: 0 35%;
}

.choices:hover {
	background-color: darkblue;
	color: white;
}

.header {
	text-align: center;
}


img{
    width:100%;
    max-width:320px;
    height:100%;
    max-height:180px;
}
